USE [master]
GO
/****** Object:  Database [VehicleServiceDB]    Script Date: 05-07-2026 10:06:44 ******/
CREATE DATABASE [VehicleServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VehicleServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VehicleServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleServiceDB]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 05-07-2026 10:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[Bill_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_ID] [int] NULL,
	[Total_Amount] [decimal](10, 2) NULL,
	[Payment_Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 05-07-2026 10:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05-07-2026 10:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 05-07-2026 10:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NULL,
	[Employee_ID] [int] NULL,
	[Service_Type] [varchar](50) NULL,
	[Service_Date] [date] NULL,
	[Cost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 05-07-2026 10:06:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Vehicle_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Model] [varchar](50) NULL,
	[Registration_No] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([Bill_ID], [Service_ID], [Total_Amount], [Payment_Status]) VALUES (18, 18, CAST(3825.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Billing] ([Bill_ID], [Service_ID], [Total_Amount], [Payment_Status]) VALUES (19, 19, CAST(3600.00 AS Decimal(10, 2)), N'Completed')
INSERT [dbo].[Billing] ([Bill_ID], [Service_ID], [Total_Amount], [Payment_Status]) VALUES (20, 20, CAST(1000.00 AS Decimal(10, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Customer_ID], [Name], [Phone], [Address], [Email]) VALUES (18, N'Dharun Akash', N'8047562354', NULL, N'rkdharunakash@gmail.com')
INSERT [dbo].[Customer] ([Customer_ID], [Name], [Phone], [Address], [Email]) VALUES (19, N'Aadhith B', N'8898456512', NULL, N'aadhithstar06@gmail.com')
INSERT [dbo].[Customer] ([Customer_ID], [Name], [Phone], [Address], [Email]) VALUES (20, N'Bharathi Mohan S', N'7338969239', NULL, N'bharathiff12345@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Employee_ID], [Name], [Role]) VALUES (18, N'Default', N'Mechanic')
INSERT [dbo].[Employee] ([Employee_ID], [Name], [Role]) VALUES (19, N'Default', N'Mechanic')
INSERT [dbo].[Employee] ([Employee_ID], [Name], [Role]) VALUES (20, N'Default', N'Mechanic')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Service_ID], [Vehicle_ID], [Employee_ID], [Service_Type], [Service_Date], [Cost]) VALUES (18, 18, 18, N'Water Washing + Full Service', CAST(N'2026-04-06' AS Date), CAST(3825.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Service_ID], [Vehicle_ID], [Employee_ID], [Service_Type], [Service_Date], [Cost]) VALUES (19, 19, 19, N'Oil Change + Water Washing + Basic Service', CAST(N'2026-04-06' AS Date), CAST(3600.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Service_ID], [Vehicle_ID], [Employee_ID], [Service_Type], [Service_Date], [Cost]) VALUES (20, 20, 20, N'Oil Change + Water Washing', CAST(N'2026-04-06' AS Date), CAST(1000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Vehicle_ID], [Customer_ID], [Model], [Registration_No]) VALUES (18, 18, N'BMW M3', N'TN45RK007')
INSERT [dbo].[Vehicle] ([Vehicle_ID], [Customer_ID], [Model], [Registration_No]) VALUES (19, 19, N'Honda City', N'TN45BG2233')
INSERT [dbo].[Vehicle] ([Vehicle_ID], [Customer_ID], [Model], [Registration_No]) VALUES (20, 20, N'Tvs Activa 3G', N'TN49BQ2233')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Service] ([Service_ID])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([Vehicle_ID])
REFERENCES [dbo].[Vehicle] ([Vehicle_ID])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
USE [master]
GO
